@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Variables */

:root{
--green-color: #7ACC2D;
--white-color: white;
--black-color: #313337;
/* Tipografia */
--normal: 12px;
/* Espaciado */
--space: 10px;
/* Box Shadow */
--box: 0 0 2px #797979;
}

/* Variables */


body, html{
	padding: 0px;
	margin: 0px;
	font-size: var(--normal);
	font-family: 'Open Sans', sans-serif;
}

p, label{
	font-size: 16px;
}

/* Header */

nav{
	display: flex;
	background-color: var(--green-color);
	padding: var(--space);
	color: ;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
}

nav li{
	padding-left: 20px;
	list-style: none;
}

nav li a{
	color: var(--black-color);
	text-decoration: none;
}

nav li a:hover{
	color: var(--white-color);
}

/* main section */

.main_section{
	padding: 15%;
	text-align: center;
}
.products{
	background-image: url("../img/curve.png");
	height: 95px;
	background-size: cover;
	background-position: center top;
	padding: 15%;
	display: flex;
}
.product{
	padding: var(--space);
	margin-top: -240px;
}
.product .content{
	background-color: var(--white-color);
	padding: 15px;
	box-shadow: var(--box);
}
.img_content{
	text-align: center;
}

.main_button{
	background-color: var(--green-color);
	width: 100%;
	padding: var(--space);
	font-size: var(--normal);
	color: var(--white-color);
	border: 0;
	cursor: pointer;
	border-radius: 2px;
}

.main_button:hover{
	background-color: #5e9e22;
}

/* Description Section */
.description_section{
	display: flex;
	padding: 2% 10%;
}
.description_box{
	text-align: center;
}
.box_description{
	padding: 20px;
}

/* Mention Section */
.mention_section{
	box-shadow: var(--box);
}
.title_Mention{
	padding: 20px;
	text-align: center;
}
.testimonios{
	display: flex;
	padding: 0% 5% 5% 5%;
}
.testimonio{
	padding: var(--space);
}
.content_mention{
	box-shadow: var(--box);
	text-align: center;
}
.content_mention img{
	width: 100%;
}
.description_text{
	padding: var(--space);
}

/* pagina productos */

.title_products h1{
	padding: 5%;
	margin: 0;
}

.image_product{
	text-align: center;
}
.text_product{
	margin: auto;
}
/* Venta */
.modulo_pago{
	background-color: var(--white-color);
	box-shadow: var(--box);
	padding: var(--space);
}
.modulo_pago_images{
	text-align: center;
}
.container_venta{
	padding: 10%;
}
.data{
	margin: var(--space) 0;
	width: 100%;
	height: 35px;
	border-radius: 2px;
	border: 1px solid var(--black-color);
	box-sizing: border-box;
}
/* Footer */
footer{
	display: flex;
	background-color: #313337;
	padding: var(--space);
	color: var(--white-color);
	justify-content: space-between;
}
footer p{
	font-size: var(--normal);
}
.contact a{
	color: var(--green-color);
}
