body{
	background-color: var(--black-color);
	text-align: center;
	color: var(--white-color);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content_paypal a{
	color: var(--green-color);
	font-size: 14px;
}
.content_paypal p{
	font-size: 14px;
}
